body {
    background: #76b852; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #76b852, #8DC26F);
    background: -moz-linear-gradient(right, #76b852, #8DC26F);
    background: -o-linear-gradient(right, #76b852, #8DC26F);
    background: linear-gradient(to left, #76b852, #8DC26F);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
}



#headerBar {
    height: 40px;
    background: rgb(255, 255, 255);
    text-align: center;
    font-size: 30px
}

div.GameInfo{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  border: 3px solid #3C677B;
}

div.ConnectedPlayers{
  position: fixed;
  bottom: 0;
  right: 1;
  width: 300px;
  border: 3px solid #3C677B;
}


button {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.user {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    display: block;
}

  .user.position-1 {
    top: 30px;
    left: 50px;
  }
  .user.position-2 {
    left: 40px;
    top: 50px;
  }
  .user.position-3 {
    bottom: 70px;
    right: 50px;
  }
  .user.position-4 {
    right: 90px;
    bottom: 50px;
  }
  .user.position-5 {
    top: 100px;
    left: 10px;
  }
  .user.position-6 {
    left: 70px;
    top: 50px;
  }
  .user.position-7 {
    bottom: 150px;
    right: 50px;
  }
  .user.position-8 {
    right: 170px;
    bottom: 50px;
  }
  .user.position-9 {
    bottom: 50px;
    right: 50px;
  }
  .user.position-10 {
    right: 70px;
    bottom: 50px;
  }

#grid
{
position: relative;
width: 40%;
margin: 0 auto;
padding: 0; /* clears unodeed list default of 40px */
}

#grid li
{
    list-style-type: none;
    position: relative;
    float: left;
    width: 27.86%;
    padding: 0 0 32.2% 0;
    -o-transform: rotate(-60deg) skewY(30deg);
    -moz-transform: rotate(-60deg) skewY(30deg);
    -webkit-transform: rotate(-60deg) skewY(30deg);
    -ms-transform: rotate(-60deg) skewY(30deg);
    transform: rotate(-60deg) skewY(30deg);
    background: #fd005f;
    overflow: hidden;
    visibility: hidden;
    
}

#grid li *
{
    visibility: visible;
}

#grid li:nth-child(2)
{
    margin: 0 1%;
}

#grid li:nth-child(3n+2)
{
    margin: 0 1%;
}

#grid li:nth-child(6n+4), #grid li:nth-child(6n+5), #grid li:nth-child(6n+6) {
    margin-top: -6.9285714285%;
    margin-bottom: -6.9285714285%;
    -o-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -moz-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    transform: translateX(50%) rotate(-60deg) skewY(30deg);
    
}

#grid li:nth-child(6n+4) { 
    margin-left: 0.5%;
    
}

#grid li .hexagon
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    -o-transform: skewY(-30deg) rotate(60deg);
    -moz-transform: skewY(-30deg) rotate(60deg);
    -webkit-transform: skewY(-30deg) rotate(60deg);
    -ms-transform: skewY(-30deg) rotate(60deg);
    transform: skewY(-30deg) rotate(60deg);
    overflow: hidden;
    
}

#grid li .hexagon:active
{
    background: #ff5555;
}


#grid li .hexagonChosen
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff2e2e;
    -o-transform: skewY(-30deg) rotate(60deg);
    -moz-transform: skewY(-30deg) rotate(60deg);
    -webkit-transform: skewY(-30deg) rotate(60deg);
    -ms-transform: skewY(-30deg) rotate(60deg);
    transform: skewY(-30deg) rotate(60deg);
    overflow: hidden;
    
}

.clear:after
{
    content: "";
    display: block;
    clear: both;
    
}


.hot-container p { margin-top: 10px; }
a { text-decoration: none; margin: 0 10px; }

.hot-container {
	min-height: 100px;
	margin-top: 100px;
	width: 100%;
	text-align: center;
}

a.btn {
	display: inline-block;
	color: #666;
	background-color: #eee;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 28px;
	padding: 10px 30px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom-width: 3px;
}

	a.btn:hover {
		background-color: #e3e3e3;
		border-color: rgba(0,0,0,0.5);
	}
	
	a.btn:active {
		background-color: #CCC;
		border-color: rgba(0,0,0,0.9);
	}

/* blue button */

a.btn.btn-blue {
	background-color: #699DB6;
	border-color: rgba(0,0,0,0.3);
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	color: #FFF;
}

	a.btn.btn-blue:hover {
		background-color: #4F87A2;
		border-color: rgba(0,0,0,0.5);
	}
	
	a.btn.btn-blue:active {
		background-color: #3C677B;
		border-color: rgba(0,0,0,0.9);
	}

/* red button */

a.btn.btn-red {
	background-color: #E48681;
	border-color: rgba(0,0,0,0.3);
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	color: rgb(255, 255, 255);
}

	a.btn.btn-red:hover {
		background-color: #DA4F49;
		border-color: rgba(0,0,0,0.5);
	}
	
	a.btn.btn-red:active {
		background-color: #B32C24;
		border-color: rgba(0,0,0,0.9);
    }
    
    /* green button */

a.btn.btn-green {
	background-color: rgb(100, 255, 53);
	border-color: rgba(0,0,0,0.3);
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	color: #FFF;
}

	a.btn.btn-green:hover {
		background-color: rgb(51, 255, 0);
		border-color: rgba(0,0,0,0.5);
	}
	
	a.btn.btn-green:active {
		background-color: rgb(137, 255, 176);
		border-color: rgba(0,0,0,0.9);
    }
    

@media only screen and (max-width: 1200px) {
    #contentWrapper {
        width: 300px;
        margin: 0 auto;
        background: #ccc;
        height: 100px
        }
    #headerBar {
        height: 150px;
        background: rgb(255, 255, 255);
        text-align: center;
        font-size: 40px
    }
    a.btn
    {
        padding: 2px 10px;
        border-radius: 2px;
        font-size: 25px
    }
    
}


/* ALERT RELATED CLASS (START) */

.alert-area {
  max-height: 100%;
  position: fixed;
  bottom: 5px;
  left: 20px;
  right: 20px;
}

.alert-box {
  font-size: 16px;
  color: white;
  background: rgba(0, 0, 0, 0.9);
  line-height: 1.3em;
  padding: 10px 15px;
  margin: 5px 10px;
  position: relative;
  border-radius: 5px;
  transition: opacity 0.5s ease-in;
}

.alert-box.hide {
  opacity: 0;
}

.alert-close {
  background: transparent;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 15px;
  right: 15px;
}

.alert-close:before,
.alert-close:after {
  content: '';
  width: 15px;
  border-top: solid 2px white;
  position: absolute;
  top: 5px;
  right: -1px;
  display: block;
}

.alert-close:before {
  transform: rotate(45deg);
}

.alert-close:after {
  transform: rotate(135deg);
}

.alert-close:hover:before,
.alert-close:hover:after {
  border-top: solid 2px #d8d8d8;
}

@media (max-width: 767px) and (min-width: 481px) {
  .alert-area {
    left: 100px;
    right: 100px;
  }
}

@media (min-width: 768px) {
  .alert-area {
    width: 350px;
    left: auto;
    right: 0;
  }
}

/* ALERT RELATED CLASS (END) */

.alert-message-container {
  text-align: center;
  line-height: 2.5em;
  margin-top: 50px;
}

.alert-message-box {
  font-size: 20px;
  width: 300px;
  border: solid 1px #444;
  padding: 10px 15px;
  outline: none;
  transition: box-shadow 0.1s;
}

.alert-message-box:focus {
  box-shadow: 0 0 15px 2px #888;
}

.alert-message-button {
  font-size: 18px;
  color: white;
  background: #14b9ff;
  width: 250px;
  border: solid 1px #14b9ff;
  padding: 10px 20px;
  margin-top: 5px;
  cursor: pointer;
  outline: none;
  transition: background 0.1s;
}

.alert-message-button:hover,
.alert-message-button:focus,
.alert-message-button:active {
  background: #7dd8ff;
}